@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment
@using MovieMVC.Controllers
@using MovieMVC.Areas.Identity.Data
@using Microsoft.AspNetCore.Authorization;
@model List<MovieMVC.Models.Post>
@using Microsoft.AspNetCore.Razor

@attribute [AllowAnonymous]
@{   
    ViewData["Title"] = "Home Page";
}
@{

    var ModelCategories = new List<Category>// Define a List<Category> containing your categories
    {
        new Category { Id = 1, CategoryName = "Drama" },
        new Category { Id = 2, CategoryName = "Action" },
        new Category { Id = 3, CategoryName = "Family"},
        new Category { Id = 4, CategoryName = "Comedy" },
        new Category { Id = 5, CategoryName = "Animation" },
        new Category { Id = 6, CategoryName = "Crime"},
        new Category { Id = 7, CategoryName = "Fantasy" },
        new Category { Id = 8, CategoryName = "Historical" },
        new Category { Id = 9, CategoryName = "Horror"},
        new Category { Id = 10, CategoryName = "Romance"}
    };

    string GetCategoryName(int CategoryId) // Function to get the category name by categoryId
    {
        var category = ModelCategories.FirstOrDefault(c => c.Id == CategoryId);
        return category != null ? category.CategoryName : "N/A"; // Provide a default value if category not found
    }
}

<div class="container">
    <div class="row">
        @foreach (var post in Model)
        {
            <!-- Each card takes up 4 columns -->
            <div class="col-md-4 py-2">
                <!-- Card starts -->
                <div class="card mt-5">
                    <!-- Card image -->
                    <img src="@Url.Content(post.ImagePost)" class="card-img-top" alt="" style="height:12rem;width:100%;">
                    <!-- Card body -->
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@post.Description<br>@GetCategoryName(post.CategoryId)</p>
                        <h5 class="card-title">Release Date: @post.ReleaseDate</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Card ends -->
            </div>
            <!-- Column ends -->
        }
    </div>
    <!-- Row ends -->
</div>
<!-- Container ends -->
<footer>
    &copy; 2023 - MovieMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</footer>
             